html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(233, 212, 185);
    margin: 0;
}

section {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 0;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


section:nth-of-type(odd) {
    background-color: antiquewhite;

}

nav {
    position: fixed;
    right: 600px;
    background-color: rgba(0, 0, 0, 0.068);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
}



a {
    text-decoration: none;
    font-size: 1.8em;
    color: rgb(94, 76, 54);
    padding-left: 4px;
}

table,th,tr,td {
    border: solid 2px;
}

